vendor/autoload.php
vendor/composer/autoload_classmap.php
vendor/composer/autoload_namespaces.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_real.php
vendor/composer/autoload_static.php
vendor/composer/ClassLoader.php
vendor/composer/installed.json
vendor/composer/installed.php
vendor/composer/InstalledVersions.php
vendor/composer/LICENSE
vendor/composer/platform_check.php
vendor/gumlet/php-image-resize/.gitignore
vendor/gumlet/php-image-resize/composer.json
vendor/gumlet/php-image-resize/Licence.md
vendor/gumlet/php-image-resize/phpunit.xml
vendor/gumlet/php-image-resize/README.md
vendor/gumlet/php-image-resize/.github/workflows/php-testing.yml
vendor/gumlet/php-image-resize/lib/ImageResize.php
vendor/gumlet/php-image-resize/lib/ImageResizeException.php
vendor/gumlet/php-image-resize/test/ImageResizeExceptionTest.php
vendor/gumlet/php-image-resize/test/ImageResizeTest.php
vendor/gumlet/php-image-resize/test/ressources/test_bmp.bmp
vendor/gumlet/php-image-resize/test/ressources/test_webp.webp
vendor/gumlet/php-image-resize/test/ressources/test_xmp.jpg
uploads/
vendor/
